.navbar {
    --bs-navbar-brand-color: rgba(255, 255, 255, 0.95);
    --bs-navbar-brand-hover-color: rgba(255, 255, 255, 0.95);
    --bs-navbar-color: rgba(255, 255, 255, 0.9);
    --bs-navbar-hover-color: rgba(255, 255, 255, 0.7);
    --bs-navbar-active-color: rgba(255, 255, 255, 0.55);
}

.cartBtn {
    color: rgba(255, 255, 255, 0.9);
}

.cartBtn:hover {
    color: rgba(255, 255, 255, 0.7);
}